/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.user-settings-table {
 border-spacing: 0;
}

.user-settings-table th {
  border-top: 1px solid #7e8993;
  padding-left: 10px;
}
.user-settings-table td:last-child,
.user-settings-table th:last-child {
  border-right: 1px solid #7e8993;
}

.user-settings-table td,
.user-settings-table th {
  border-bottom: 1px solid #7e8993;
  border-left: 1px solid #7e8993;
}

.connected,
p.shutterstock-token {
    word-wrap: break-word;
    white-space: pre-wrap;
    background-color: transparent;
    display: block;
    font-size: 14px;
    font-weight: bold;
    resize: none;
    height: 35px;
    line-height: 1.4em;
    color: green;
    cursor: default;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

p.shutterstock-token {
    color: orange;
}

button.logout, input.login {
    cursor: pointer;
}

.connected {
  padding-top: 5px;
}

.hidden {
  display: none !important;
}

body.media_page_shutterstock_media_page {
  background: #fff;
}