/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-shutterstock-shutterstock-block {
	background-color: var(--wp-admin-theme-color);
	color: #ffffff;
	padding: 2px;
}
