.components-shutterstock-logo {
  height: 24px;
  width: 162px;
}

.components-shutterstock-logo__stck {
  fill: #25282a;
}

.components-shutterstock-logo__o,
.components-shutterstock-logo__shutter {
  fill: #ee3625;
}
