.components-shutterstock-ui__inputgroup {
  .components-shutterstock-ui__input {
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    &:focus{
      box-shadow: none;
    }
  }
}

.components-shutterstock-ui__radio_button {
  width: initial;
  height: initial;
}

.components-shutterstock-ui__widget-container {
  height: 100vh;
  overflow-y: scroll;
  & > div {
    top: 90px;
    position: relative;
  }

  .components-shutterstock-ui__searchContainer {
    .components-shutterstock-ui__filterButtonWrapper {
      width: initial;
    }
  }
}

.components-shutterstock-ui__widget-container.media-page {
  height: initial;
  overflow: hidden;
  padding-bottom: 5%;
  & > div {
    top: 0;
    padding-top: 1px;
    padding-bottom: 5px;
  }
}


.components-shutterstock-ui__widget-container-overlay {
  position: fixed;
  top: 2px;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 60px 60px;
  transition: opacity .1s;
  opacity: 1;
  background-image: url(../../images/loading.svg);
  z-index: 111;
  top: 60px;

  .text {
    max-width: 300px;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translate(0, 100%);
    text-align: center;
    font-size: 18px;
    color: #ffffff !important;
    cursor: default;
  }
}

.components-shutterstock-ui__widget-container-overlay.media-page {
  top: 32px;
}

.components-shutterstock-ui__filterDrawerContainer {
  .components-shutterstock-ui__widget-drawer-position-fixed {
    position: fixed;
  }
}

.components-shutterstock-ui__searchForm {
  flex: 1;
}

.components-shutterstock-ui__navigation {
  z-index: 111111111;
  position: absolute;
  margin-left: 180px;
  top: 19px;
  font-weight: bold;

  a {
    margin: 0 10px;
    cursor: pointer;
    color: #444;
  }
}

.components-shutterstock-ui__navigation.media-page {
  top: 72px;
}

.components-shutterstock-ui__navigation.disabled a {
  pointer-events: none;
}

@media (min-width: 600px) {
  .components-shutterstock-ui__widget-container {
    height: calc(100vh - 126px);
  }

  .components-shutterstock-ui__widget-container.media-page {
    height: initial;
    overflow: hidden;
  }

  .components-shutterstock-ui__navigation.media-page {
    top: 0;
    margin-top: 5px;
  }
}